/* All pages style in commum */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Stilized the header */
.header {
    height: 90px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 5px;
    background-color: black;
    z-index: 1;
}

/* Stilized menu */
.menu-h ul{
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Put the links in one line */
.menu-h ul li{
    display: inline;
}

/* stilized the links wiht color ant take off the tex-decoration */
.menu-h ul li a{
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Open Sans', sans-serif; /* Font inported of Google fonts */
}

/* Adding a footer in the finel of the webpage*/
<<<<<<< HEAD
.footer{
    position: absolute;
    width: 100%;
    height: 90px;
=======
#footer{
    position:absolute;         
    bottom: 0;
    left:0;
    width: 100vw;
    height: 70px;
>>>>>>> ebd85aa95f786eee25cbebcd05501e6cf9343fb7
    background-color: black;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;    
}

.page-container {
    position: relative;
    min-height: 100vh;
  }
  
  .content-wrap {
    padding-bottom: 2.5rem;    /* height of footer */
}
/* Addin width and margin-top for the link img */
img{
=======

#logo{
    width: 50px;
>>>>>>> ebd85aa95f786eee25cbebcd05501e6cf9343fb7
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}

/* Home page style */
/* Stiling the feedback area */

.opniao{
    resize: none;
    margin-left: 55px;
}

.border{
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    margin-top: 11px;
}

.button{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 4px;
}

.button2{
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 4px;
}

.margin-left{
    margin-left: 56px;
}

.float-right{
    float: right;
}

.justify{
    text-align: center;
}

.titulo{
    margin-top: 230px;
}

.margin-right2{
    margin-right: 20px;
}

.margin-right3{
    margin-right: 30Px;
}

/* Stilized the star avaliatin */
.avaliacao{
    display: flex;
}

.star-icon{
    list-style-type: none;
    border: 1px solid #fff;
    cursor: pointer;
    color: black;
    font-size: 40px;/* modificad the star size */
    margin-left: 20px;
    display: inline-block;
}

.star-icon::before{
    content: "\2605";
}

.star-icon.ativo ~ .star-icon::before{
    content: "\2606";
}

.avaliacao:hover .star-icon::before{
    content: "\2605";
}

.star-icon:hover ~ .star-icon::before{
    content: "\2606";
}

.descricao{
    width: 30vw;
    height: 20vh;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    text-indent: 3ch;
    font-size: 20px;
    /* font-family: forma; */ /* nome da font pra eu achar depois */
}

.alinhamento{
    text-align: center;
}

/* Cardapio style*/

.img{
    width: 40vw;
    height: 40vh;
    margin: 10px 20px;
}

.float-left{
    float: left;
}

/* Creating the menu style*/
.conteiner{
    height: 553px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.conteudo{
    height: 184px;
    width: 200px;
    margin-top: 20px;
    text-align: center;
}

h3{
    margin-bottom: -80px;
=======
.text-center{
    text-align: center;
}

.title{
    width: 80vw;
    height: 300px;
    text-align: justify;
    font-size: 50px;
    }

.img-ph{
    background-color: gray;
    
}

.slider{
    display: block;
    width: 80vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;        
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
    transition: 5s ease-in-out;
    
}

@keyframes slide {
    
    00%,25%{
        background-image: url(assets/place-holder.png);
        min-width: 800px;
        min-height: 450px;
        opacity: 0
    }
    25%, 50%{
        background-image: url(assets/place-holder.png);
        min-width: 800px;
        min-height: 450px;
        opacity: 1;
        
    }
    50%, 75%{
        background-image: url(assets/place-holder2.png);
        min-width: 800px;
        min-height: 450px;
    }
    75%,95%{
        background-image: url(assets/place-holder3.png);
        min-width: 800px;
        min-height: 450px;
        opacity: 1;
    }
    95%,100%{
        background-image: url(assets/place-holder3.png);
        min-width: 800px;
        min-height: 450px;
        opacity: 0;
    }

>>>>>>> ebd85aa95f786eee25cbebcd05501e6cf9343fb7
}